package pages

import "github.com/axbrunn/portfolio/ui/html/layout"

type Post struct {
	Title   string
	Excerpt string
	Body    string
}

templ BlogView(post Post) {
	@layout.Base(post.Title) {
		<main>
			<h1>{ post.Title }</h1>
			<p>{ post.Excerpt }</p>
			<p>{ post.Body }</p>
		</main>
	}
}
